# PKGBUILD specific ignores
pkgbuild/build

# DPKG specific ignores
*.deb
*.tar.gz
*.dsc
*.changes
dpkg/debhelper-build-stamp
dpkg/*.log
dpkg/*.substvars
dpkg/exec-helper-docs/
dpkg/exec-helper/
dpkg/files
dpkg/tmp/
